.login-page {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
    .logo {
        margin-bottom: 50px;
        font-size: 3.4em;
    }
    form {
        display: flex;
        flex-direction: column;
        padding: 0 20px;
        width: 100%;
        input {
            margin-bottom: 15px;
            border: 1px solid #c6c6c6;
            border-radius: 4px;
            padding: 8px;
            font-size: 14px;
            &[type=submit] {
                background: #131349;
                border-radius: 5em;
                padding: 12px;
                color: #fff;
                border: none;
                font-weight: bold;
                font-size: 14px;
            }
        }
    }
}