.content-pet {
    background: #fff;
    border-radius: 50px 50px 0 0;
    margin-top: -80px;
    position: relative;
    float: left;
    width: 100%;
    padding: 32px 32px;
    padding-bottom: 200px;
    h1 {
        font-size: 28px;
        margin: 0;
        line-height: 1em;
    }
    .edit-icon {
        position: absolute;
        top: 30px;
        right: 35px;
        width: 20px !important;
        height: 20px !important;
    }
    .raza{
        font-size: 12px;
        opacity: 0.5;
    }
    .kpi {
        margin-top: 30px;
        display: flex;
        justify-content: space-between;
       & > div {
           background: #f5f5f5;
           width: 30%;
           padding: 20px 15px;
           border-radius: 24px;
           text-align: center;
           span {
               display: block;
               &.kind-of {
                   opacity: 0.3;
                   font-size: 0.8em;
               }
               &.result {
                font-weight: bold;
               }
           }
       }
    }
    .curious {
        width: 100%;
        background: #C2CCA6;
        position: relative;
        margin: 25px 0;
        padding: 20px;
        border-radius: 24px;
        display: flex;
        justify-content: space-between;
        .title {
            font-weight: bold;
            font-size: 16px;
        }
        .desc {
            font-size: 12px;
            font-weight: normal;
        }
        .image__comment {
            position: relative;
            width: 100%;
            img {
                position: absolute;
                bottom: -40px;
                right: -40px;
                min-width: 120px;
            }
        }
    }   
}