#header-pet {
    z-index: 10;
    .left{
        position: absolute;
        top: 10px;
        left: 10px;
        padding: 10px;
        border-radius: 12px;
        background: #fff;
        display: flex;
    }
    .right{
        position: absolute;
        top: 10px;
        right: 10px;
        padding: 10px;
        border-radius: 12px;
        background: #fff;
        display: flex;
    }
    svg {
        width: 1.2em !important;
        height: 1.2em !important;
    }
}

.dropdown {
    ul {
        list-style: none;
        padding-left: 0;
        padding: 0 10px;
        margin: 10px 0;
        li {
            border-bottom: 1px solid #f5f5f5;
            border-radius: 8px;
            padding: 10px;
            font-weight: 500;
            font-size: 13px;
            &:hover {
                background: #f5f5f5;
            }
        }
    }
    .popover-content {
        max-width: 130px;
    }
}