.footer-nav {
    position: fixed !important;
    bottom: 0;
    width: 100%;
    background-color: #fff !important;
    box-shadow: 0 -3px 26px #0000001c !important;
    [aria-selected='false'] .MuiTab-wrapper {
        max-width: 24px;
        overflow: hidden;
        color: #131349;
        padding: 5px;
    }
    [aria-selected='true'] .MuiTab-wrapper {
    max-width: 100%;
    max-height: 40px;
    overflow: hidden;
    transition: all ease-out 0.2s;
    background-color: #131349;
    padding: 5px 12px;
    border-radius: 5em;
    }
    .MuiTab-wrapper {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        font-size: 12px;
        text-transform: none;
        font-weight: bold;
        text-indent: -99999%;
        white-space: nowrap;
        svg {
            width: 1.5em !important;
            height: 1.5em !important;
        }
    }
    .PrivateTabIndicator-colorSecondary-4 {
        display: none;
    }
    .MuiTabs-flexContainer {
        display: flex;
        justify-content: space-evenly;
    }
    .MuiTab-textColorInherit {
        opacity: 1;
    }
    svg:not(:root) {
        overflow: visible;
    }
    .MuiTab-labelIcon .MuiTab-wrapper > *:first-child {
        margin: 0 6px 0 0;
    }
}

.MuiTabPanel-root {
    padding: 0 !important;
}