.logo {
    font-weight: bold;
    font-size: 1.4em;
    margin: 10px;
}
.mypet-list {
    display: flex;
    flex-direction: row;
    padding: 20px;
    flex-wrap: wrap;
    .mascota {
        width: 44%;
        border-radius: 24px;
        overflow: hidden;
        margin: 10px;
        position: relative;
        background: #f5f5f5;
        img {
            display: block;
        }
        .pet-name {
            position: absolute;
            bottom: 10px;
            left: 10px;
            padding: 5px 15px;
            font-weight: bold;
            background: #fff;
            border-radius: 20px;
            color: #000;
        }
        &.add-pet {
            display: flex;
            align-items: center;
            justify-content: flex-end;
            flex-direction: column;
            svg {
                width: 3em;
                height: 3em;
                opacity: 0.1;
            }
            span {
                opacity: 0.12;
                font-size: 14px;
                font-weight: bold;
                margin-top: 20px;
                margin-bottom: 15px;
            }
        }
    }
}